Body{
    background-color: blue;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.currency{
    font-size: 65px;
}

select {
    background: transparent;
    border: none;
    font-size: 25px;
}

input{
    font-size: 25px;
    
}

button{
    font-size: 25px;
    transform: rotate(90deg);
}

button:active{
    transform: rotate(90deg) scale(0.9);
}

#exchange{
    position: relative;
    right: 170px;
    top: 10px;
}